<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="/home/fe25/dev_ws/src/my_bot/description/robot_core.xacro"/>
    <xacro:include filename="/home/fe25/dev_ws/src/my_bot/description/gazebo_control.xacro"/>
    <xacro:include filename="/home/fe25/dev_ws/src/my_bot/description/lidar.xacro"/>

</robot>